// 公共的图表按钮样式
.btn-icon-btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 30%;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--btn-icon-hover-bg);
    .svg-icon {
      color: var(--el-text-color-regular);
    }
  }

  &:active {
    background-color: var(--btn-icon-active-bg);
    .svg-icon {
      color: var(--el-text-color-primary);
    }
  }

  .svg-icon {
    color: var(--btn-icon-color);
    user-select: none;
  }
}
